<!-- 
This is a sample .config file that is compatible with Xsd2Db.Data. Note this file
isn't used to configure the built binary because this file isn't copied in \bin directory.

In order to configure using tests on a particular machine, you can update machine.config
file by adding sections below.
-->
<configuration>
	<configSections>
     <!-- Declare Xsd2Db.Data.SqlClient.Test configuration section. Use this section to configure unit tests -->
      <section name="Xsd2Db.Data.Test" 
               type="System.Configuration.NameValueSectionHandler"/>
   </configSections>
		<!-- 
		SqlHost="[string]" - Database server name. used by SqlClient tests.
		ObjectModelXsd="[string]" - File name of an .XSD file to use during tests. Path relative to the
		location of Zks.Data.dll binary being tested.
		-->
		<Xsd2Db.Data.Test>
			<add key="SqlHost" value="MyDatabaseServer" />
			<add key="ObjectModelXsd" value="test.xsd" />
		</Xsd2Db.Data.Test>
</configuration>